.classWork::after { content: ""; width: 100%; height: 2px; background: linear-gradient(to right, #fff 10%, #ff3c36 80%); display: block; }

body { background: #1f2833; font-size: 20px; font-family: 'Mulish', sans-serif; color: #0b0c10; }

.icons { width: 70px; height: 70px; }

.box { width: 50%; padding: 20px; text-align: center; border-bottom: solid 1px #45a29e; }

.container { width: 100%; padding: 20px; }

.title { font-size: 40px; }

.classWork { font-size: 34px; }

.text { text-align: left; text-indent: 20px; max-width: 450px; margin-left: auto; margin-right: auto; }

.mainWrapper { max-width: 1600px; height: auto; margin: 0 auto; overflow: hidden; position: relative; }

.header { display: flex; flex-direction: row; width: 100%; position: fixed; top: 0; z-index: 10; }
.header .btn__main { display: none; }
.header .btn { padding: 10px; width: 400px; white-space: nowrap; border-left: solid 1px #45a29e; border-right: solid 1px #45a29e; background: #c5c6c7; transition: .5s; }
.header .btn:hover { background: #66fcf1; box-shadow: 0px 0px 1px #1f2833; }

.contentWrapper { position: relative; width: 300%; background: #fff; display: flex; right: 0; }
.contentWrapper .content { position: relative; width: 100%; padding-top: 50px; border-right: solid 2px #45a29e; border-left: solid 2px #45a29e; }

.about { width: 100%; height: auto; display: flex; flex-direction: row; flex-wrap: wrap; }

.about__txt h2 { margin-bottom: 10px; white-space: nowrap; }
.about__txt h1 { white-space: nowrap; margin: 0 auto 30px auto; width: 350px; }
.about__txt .images { margin-bottom: 40px; }
.about__txt p { margin-bottom: 10px; }

.about__photo img { width: 450px; position: top; }

.footer { height: auto; background: #c5c6c7; border-bottom: 1px solid #fff; text-align: center; padding: 10px; position: relative; }
.footer a { position: inherit; right: 0; bottom: 0; }

.windowWrapper { background: #c5c6c7b6; height: 100vh; width: 100vw; position: fixed; z-index: 11; top: 0; }
.windowWrapper .window { margin: 0; position: relative; height: 500px; max-width: 500px; background: #fff; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.windowWrapper .window .closeWindowBtn { font-weight: bold; width: 30px; height: 30px; border-radius: 50%; margin: 5px; position: relative; top: 6%; left: 85%; background: #ff3c36; }

@media (max-width: 960px) { .about { flex-direction: column; }
  .box { width: 100%; margin: 0 auto; } }
@media (max-width: 700px) { .header { flex-direction: column; overflow: hidden; right: 0; height: 48px; }
  .header .btn__main { display: block; }
  .header .btn { border-left: none; border-right: none; border-bottom: solid 1px #45a29e; width: 100%; } }
@media (max-width: 500px) { .box .title { font-size: 32px; }
  .box .classWork { font-size: 30px; width: 300px; }
  .box .text { width: 300px; }
  .box .ja { width: 300px; } }
