.div { width: 500px; height: auto; background: #a2ffa9; margin: 20px auto; padding: 20px; text-align: center; }
.div .monitor { width: 100px; height: 40px; background: #fff; margin: 20px auto; border: 1px solid #000; }
.div input { width: 400px; appearance: none; border-radius: 10px; background: rgba(255, 255, 0, 0.371); }
.div input[type=range]::-webkit-slider-runnable-track { border-radius: 10px/100%; height: 7px; border: 1px solid cyan; background-color: #fff; padding-left: 20px; padding-right: 20px; }
.div input[type=range]::-webkit-slider-thumb { background: #ecf0f1; border: 1px solid #ff1e00; border-radius: 15px/100%; cursor: pointer; width: 15px; height: 15px; -webkit-appearance: none; margin-top: -4px; }
.div p { font-size: 20px; }
